.navbar-brand img {
  height: 2rem;
  width: auto;
}

.navbar-brand {
  font-weight: 800;
}

section.services {
  padding-top: 0px;
}

.main-footer .logo img {
  height: 2rem;
  width: auto;
}

.main-footer .logo-name {
  font-family: "Vidaloka";
  font-size: 1.75rem;
  font-weight: 300;
  color: white;
}

#about {
  padding-top: 100px;
}

#about ul li {
  margin-left: 20px;
}

.darken {
  position: relative;
}

.darken > .tint {
  z-index: 0;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.8);

  & + .container {
    z-index: 1;
  }
}
