<!DOCTYPE html>
<html>

{{> ./partials/head}}

<body>
  {{> ./partials/header basename="about"}}
  <!-- Hero Section-->
  <section style="background: url('img/separator-bg.jpg') no-repeat;" class="hero">
    <div class="container">
      <h1><span class="text-primary">Local businesses</span> is our business</h1>
      <p class="text-hero">
        Our team is part of a social entrepreneurship program called <a href="https://www.zinc.vc/mission-2/">Zinc</a>.
        We’ve created <a href="#">The Indie Trail</a> project as part of research we're doing into the daily highs and
        lows of running a local, independent business.
      </p>
      <p class="text-hero">
        We are speaking to business owners and operators running cafes, shops, community theatres, hairdressers, dry
        cleaners and more to learn more about how we might build products and services to help support them ride the
        new wave of automation and globalisation.
      </p>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <main id="about" class="col-lg-10 col-xl-8">
        <div class="text-content">
          <p><strong>Why do we care?</strong> We believe that independent businesses are at the heart of a vibrant
            local economy and want to see more shops, cafes and services in towns with their own unique identity. Run
            by local entrepreneurs, employing local talent.
            <p><img src="img/about-1.jpg" alt="Local cafe" class="img-fluid"></p>

            <blockquote class="blockquote blockquote-primary">Most independent businesses are run by people, so you get
              a different kind of care and quality in their product because their work is a reflection of themselves.
              These are establishments that are often the character of a neighborhood, a community.</blockquote>

            <h3>Key areas we're exploring</h3>
            <p>We are in active conversations with a number of national organisations like the Chamber of
              Commerce, the Federation of Small Businesses and locally, Rochdale Development Agency and Rochdale
              Borough Council, plus a number of individuals from university and research agencies who are
              helping us in our user research. Currently we're exploring opportunities in the following areas:</p>
            <ul>
              <li>Cash management issues due to bank branch closures</li>
              <li>Timely and tailored access to business advice</li>
              <li>Better utilisation and sharing of business assets</li>
            </ul>
            <p><img src="img/about-2.jpg" alt="Example blog post alt" class="img-fluid"></p>
            <p>If you are a small or medium local business and you'd like to be involved, we'd love to hear from you
              about your challenges and other areas where you feel pressured by the current market. Get in touch with
              us at <a href="mailto:hello@theindietrail.com">hello@theindietrail.com</a>
              and we'll arrange a 20 to 30 minutes conversation at your convenience.</p>
        </div>
      </main>
    </div>
  </div>
  <!-- Page Footer-->
  {{> ./partials/footer}}
</body>

</html>