<!DOCTYPE html>
<html>

{{> ./partials/head}}

<body>
  {{> ./partials/header basename=""}}
  <div class="listing-categories-page">
    <!-- Hero Section-->
    <section class="hero hero-inverse">
      <div class="container">
        <h1>Greater Manchester</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
      </div>
    </section>
    <section class="no-padding-top padding-small">
      <div class="block has-shadow">
        <div id="category-map" class="map-holder"></div>
      </div>
      <div class="container">
        <p class="lead text-muted block text-center"><strong>12</strong> results found</p>
        <div id="items" class="row block"></div>
      </div>
    </section>
  </div>
  <!-- Page Footer-->
  {{> ./partials/footer}}
  <!-- JavaScript files-->
  <!-- create your own Maps API Key for production use, this one is domain-restricted-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6XuLSkOWp91wmNbMh-YIvx0rBGGK7CLc"></script>
</body>

</html>