<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Places | Directory Template </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <!-- Google fonts - Vidaloka-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Vidaloka">
  <!-- Google fonts - Poppins-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500">
  <!-- Font Awesome -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- Favicon-->
  <link rel="shortcut icon" href="img/favicon.ico">
  <!-- Tweaks for older IEs-->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body>
  {{> ./partials/header}}
  <!-- Hero Section-->
  {{!-- {{> ./partials/hero}} --}}
  <!-- Features Section-->
  {{!-- {{> ./partials/features}} --}}
  <!-- Top Cities Section-->
  {{> ./partials/top-cities}}
  <!-- Latest Places Section-->
  {{!-- {{> ./partials/latest-places}} --}}
  <!-- Services Section-->
  {{> ./partials/services}}
  <!-- Separator Section-->
  {{> ./partials/separator}}
  <!-- Blog Section-->
  {{!-- {{> ./partials/blog}} --}}
  <!-- Partners Section-->
  {{> ./partials/partners}}
  <!-- Page Footer-->
  {{> ./partials/footer}}
</body>

</html>