<!DOCTYPE html>
<html>

{{> ./partials/head}}

<body>
  {{> ./partials/header basename="index"}}
  <!-- Sumbit Listing Modal-->
  {{> ./partials/submit-listing-modal}}
  <!-- Top Cities Section-->
  {{> ./partials/top-cities}}
  <!-- Services Section-->
  {{> ./partials/services}}
  <!-- Separator Section-->
  {{> ./partials/separator}}
  <!-- Partners Section-->
  {{> ./partials/partners}}
  <!-- Page Footer-->
  {{> ./partials/footer}}
</body>

</html>