<!DOCTYPE html>
<html>
{{> ./partials/head}}

<body>
  {{> ./partials/header basename=""}}
  <!-- Hero Section-->
  <section style="background: url('img/listing-hero-bg.jpg') no-repeat;" class="hero listing-single-hero d-flex align-items-end darken">
    <div class="tint"></div>
    <div class="container">
      <div class="content d-flex justify-content-between align-items-start flex-column flex-lg-row align-items-lg-end">
        <div class="heading-info">
          <div class="badge-transparent" id="badge"></div>
          <h1 id="name"></h1>
          <p id="address"><i class="icon-localizer"></i></p>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <main class="col-lg-8">
        <!-- About Listing-->
        <div class="block about-listing" id="description">
          <header>
            <h3 class="has-lines"><small>About</small> About the Listing</h3>
          </header>
        </div>
        <!-- Listing Location-->
        <div class="block listing-location">
          <header>
            <h3 class="has-lines"><small>Location</small> Where to Find Them</h3>
          </header>
          <div class="map-holder has-shadow">
            <div id="detail-map"></div>
          </div>
        </div>
        <!-- Listing Gallery-->
        <div class="block listing-gallery">
          <header>
            <h3 class="has-lines"><small>Gallery</small> Listing Gallery </h3>
          </header>
          <div class="gallery row">
            <div class="mix col-lg-4 col-md-6">
              <div class="item"><a href="img/gallery-1.jpg" data-fancybox="gallery" class="image"><img src="img/gallery-1-small.jpg"
                    alt="..." class="img-fluid"></a></div>
            </div>
            <div class="mix col-lg-4 col-md-6">
              <div class="item"><a href="img/gallery-2.jpg" data-fancybox="gallery" class="image"><img src="img/gallery-2-small.jpg"
                    alt="..." class="img-fluid"></a></div>
            </div>
            <div class="mix col-lg-4 col-md-6">
              <div class="item"><a href="img/gallery-3.jpg" data-fancybox="gallery" class="image"><img src="img/gallery-3-small.jpg"
                    alt="..." class="img-fluid"></a></div>
            </div>
            <div class="mix col-lg-4 col-md-6">
              <div class="item"><a href="img/gallery-4.jpg" data-fancybox="gallery" class="image"><img src="img/gallery-4-small.jpg"
                    alt="..." class="img-fluid"></a></div>
            </div>
            <div class="mix col-lg-4 col-md-6">
              <div class="item"><a href="img/gallery-5.jpg" data-fancybox="gallery" class="image"><img src="img/gallery-5-small.jpg"
                    alt="..." class="img-fluid"></a></div>
            </div>
            <div class="mix col-lg-4 col-md-6">
              <div class="item"><a href="img/gallery-6.jpg" data-fancybox="gallery" class="image"><img src="img/gallery-6-small.jpg"
                    alt="..." class="img-fluid"></a></div>
            </div>
          </div>
        </div>
        <!-- Amenities-->
        {{!-- <div class="block amenities">
          <header>
            <h3 class="has-lines"><small>Amenities</small> Amenities</h3>
          </header>
          <ul class="amenities-list list-inline">
            <li class="list-inline-item">
              <div class="d-flex align-items-center">
                <div class="icon"><i class="fa fa-check"></i></div><span>Elevator</span>
              </div>
            </li>
            <li class="list-inline-item">
              <div class="d-flex align-items-center">
                <div class="icon"><i class="fa fa-check"></i></div><span>Vegan friendly</span>
              </div>
            </li>
            <li class="list-inline-item">
              <div class="d-flex align-items-center">
                <div class="icon"><i class="fa fa-check"></i></div><span>Alcohol served</span>
              </div>
            </li>
            <li class="list-inline-item">
              <div class="d-flex align-items-center">
                <div class="icon"><i class="fa fa-check"></i></div><span>No smoking</span>
              </div>
            </li>
            <li class="list-inline-item">
              <div class="d-flex align-items-center">
                <div class="icon"><i class="fa fa-check"></i></div><span>Parking spaces (paid)</span>
              </div>
            </li>
            <li class="list-inline-item">
              <div class="d-flex align-items-center">
                <div class="icon"><i class="fa fa-check"></i></div><span>WiFi</span>
              </div>
            </li>
          </ul>
        </div> --}}
      </main>
      <!-- Opening Hours      -->
      <aside class="col-lg-4">
        <div class="widget opening-hours">
          <header>
            <h3 class="has-lines"><small>Open Status</small> Opening Hours </h3>
          </header>
          <div class="days">
          </div>
        </div>
        <!-- Contact Info-->
        <div class="widget contact">
          <header>
            <h3 class="has-lines"><small>Contact</small> Drop Them A Line</h3>
          </header>
          <div class="info">
            <div class="item"><a id="phone" href="#"><i class="fa fa-phone"></i> </a></div>
            <div class="item"><a id="email" href=""><i class="fa fa-envelope-o"></i> </a></div>
            <div class="item"><a id="website" href="#"><i class="fa fa-globe"></i> </a></div>
            <div class="item"><a id="facebook" href="#" target="_blank" class="facebook"><i class="fa fa-facebook-official"></i>
                Facebook</a></div>
            <div class="item"><a id="twitter" href="#" target="_blank" class="twitter"><i class="fa fa-twitter-square"></i>
                Twitter</a></div>
            <div class="item"><a id="instagram" href="#" target="_blank" class="instagram"><i class="fa fa-instagram"></i>
                Instagram</a></div>
          </div>
        </div>
      </aside>
    </div>
  </div>
  <!-- Page Footer-->
  {{> ./partials/footer}}
  <!-- create your own Maps API Key for production use, this one is domain-restricted-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRVq-3F_QrSVTgFthNRqDCD-CoUWAKkFU"></script>
</body>

</html>