<section class="blog">
  <div class="container">
    <header>
      <h2 class="has-lines"><small>Our Blog</small> Some<span class="text-primary">Articles &amp; Tips</span> from
        the blog</h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </header>
    <div class="row">
      <!-- Post-->
      <div class="col-lg-4">
        <div class="post">
          <div class="image"><img src="img/blog-home-1.jpg" alt="..."></div>
          <div class="info d-flex align-items-end">
            <div class="content">
              <div class="post-meta">15 APR | 2017 | No Comments</div><a href="post.html">
                <h3>Hotels For All Budgets</h3>
              </a>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua.</p><a href="post.html" class="has-lines read-more">Read More</a>
            </div>
          </div><a href="#">
            <div class="badge badge-rounded text-uppercase">Tips</div>
          </a>
        </div>
      </div>
      <!-- Post        -->
      <div class="col-lg-4">
        <div class="post">
          <div class="image"><img src="img/blog-home-2.jpg" alt="..."></div>
          <div class="info d-flex align-items-end">
            <div class="content">
              <div class="post-meta">15 APR | 2017 | No Comments</div><a href="post.html">
                <h3>Hotels For All Budgets</h3>
              </a>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua.</p><a href="post.html" class="has-lines read-more">Read More</a>
            </div>
          </div><a href="#">
            <div class="badge badge-rounded text-uppercase">Tips</div>
          </a>
        </div>
      </div>
      <!-- Post        -->
      <div class="col-lg-4">
        <div class="post">
          <div class="image"><img src="img/blog-home-3.jpg" alt="..."></div>
          <div class="info d-flex align-items-end">
            <div class="content">
              <div class="post-meta">15 APR | 2017 | No Comments</div><a href="post.html">
                <h3>Hotels For All Budgets</h3>
              </a>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua.</p><a href="post.html" class="has-lines read-more">Read More</a>
            </div>
          </div><a href="#">
            <div class="badge badge-rounded text-uppercase">Tips</div>
          </a>
        </div>
      </div>
    </div><a href="blog.html" class="visit-blog btn btn-primary has-shadow has-wide-padding">Visit Blog</a>
  </div>
</section>