<section class="features bg-gray">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-3">
        <div class="icon"><i class="icon-antique-pavilion"></i></div>
        <h4 class="h5">300 Places</h4>
      </div>
      <div class="col-sm-3">
        <div class="icon"><i class="icon-calendar"></i></div>
        <h4 class="h5">150 Events</h4>
      </div>
      <div class="col-sm-3">
        <div class="icon"><i class="icon-gallery"></i></div>
        <h4 class="h5">700 Photos</h4>
      </div>
      <div class="col-sm-3">
        <div class="icon"><i class="icon-list"></i></div>
        <h4 class="h5">15 Categories</h4>
      </div>
    </div>
  </div>
</section>