<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="about col-md-8">
        <div class="logo"><img src="img/logo.png" alt="The Indie Trail"><span class="logo-name">The Indie Trail</span></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam.</p>
      </div>

      <div class="contact col-md-4">
        <h3>Contact us</h3>
        <div class="info">
          <p>Email: <a href="mailto:info@company.com">hello@theindietrail.com</a></p>
          <p>Instagram: <a href="mailto:info@company.com">#shoplocal</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="copyrights text-center">
    <p>&copy; 2018 <span class="text-primary">The Indie Trail</span> All Rights Reserved.</p>
  </div>
</footer>