<section style="background: url('img/hero-bg.jpg') no-repeat;" class="hero d-flex align-items-center">
  <div class="container">
    <p class="small-text-hero"><i class="icon-localizer text-primary mr-1"></i>Lorem ipsum <span class="text-primary">dolor
        sit</span> amet</p>
    <h1>Let's <span class="text-primary">go </span> anywhere</h1>
    <p class="text-hero">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    <div class="search-bar">
      <form action="#">
        <div class="row">
          <div class="form-group col-lg-4">
            <input type="search" name="search" placeholder="What are you searching for?">
          </div>
          <div class="form-group col-lg-3">
            <input type="text" name="location" placeholder="Location" id="location">
            <label for="location" class="location"><i class="fa fa-dot-circle-o"></i></label>
          </div>
          <div class="form-group col-lg-3">
            <select title="Categories &lt;i class=&quot;fa fa-angle-down&quot;&gt;&lt;/i&gt;" class="listing-categories">
              <option value="small">Restaurants</option>
              <option value="medium">Hotels</option>
              <option value="large">Cafes</option>
              <option value="x-large">Garages</option>
            </select>
          </div>
          <div class="form-group col-lg-2">
            <input type="submit" value="Search" class="submit">
          </div>
        </div>
      </form>
    </div>
  </div>
</section>