<section class="latest-listings bg-gray">
  <div class="container">
    <header>
      <h2 class="has-lines"><small>New</small> Discover the newest venues on Places</h2>
      <p class="lead">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
    </header>
    <div class="owl-carousel owl-theme latest-listings-slider">
      <!-- Item-->
      <div class="item listing-item">
        <div class="item-inner">
          <div class="image"><img src="img/photo-latest-1.jpg" alt="..." class="img-fluid"></div>
          <div class="info d-flex align-items-end justify-content-between">
            <div class="content"><a href="detail.html">
                <div class="badge-transparent">Eat &amp; Drink</div>
              </a><a href="detail.html">
                <h3>Lorem Ipsum Dolor</h3>
                <p class="address">23 July street, Vinece</p>
              </a></div>
            <div class="favorite"><i class="icon-heart"> </i></div>
          </div>
        </div>
        <div class="rate-box d-flex align-items-center">
          <ul class="rate list-inline">
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
          </ul><span>(20 Reviews)</span>
        </div>
      </div>
      <!-- Item        -->
      <div class="item listing-item">
        <div class="item-inner">
          <div class="image"><img src="img/photo-latest-2.jpg" alt="..." class="img-fluid"></div>
          <div class="info d-flex align-items-end justify-content-between">
            <div class="content"><a href="detail.html">
                <div class="badge-transparent">Events</div>
              </a><a href="detail.html">
                <h3>Lorem Ipsum Dolor</h3>
                <p class="address">23 July street, Vinece</p>
              </a></div>
            <div class="favorite"><i class="icon-heart"> </i></div>
          </div>
        </div>
        <div class="rate-box d-flex align-items-center">
          <ul class="rate list-inline">
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star text-gray"></i></li>
            <li class="list-inline-item"><i class="fa fa-star text-gray"></i></li>
          </ul><span>(335 Reviews)</span>
        </div>
      </div>
      <!-- Item            -->
      <div class="item listing-item">
        <div class="item-inner">
          <div class="image"><img src="img/photo-latest-3.jpg" alt="..." class="img-fluid"></div>
          <div class="info d-flex align-items-end justify-content-between">
            <div class="content"><a href="detail.html">
                <div class="badge-transparent">Eat &amp; Drink</div>
              </a><a href="detail.html">
                <h3>Lorem Ipsum Dolor</h3>
                <p class="address">23 July street, Vinece</p>
              </a></div>
            <div class="favorite"><i class="icon-heart"> </i></div>
          </div>
        </div>
        <div class="rate-box d-flex align-items-center">
          <ul class="rate list-inline">
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star text-gray"></i></li>
          </ul><span>(75 Reviews)</span>
        </div>
      </div>
      <!-- Item        -->
      <div class="item listing-item">
        <div class="item-inner">
          <div class="image"><img src="img/photo-latest-1.jpg" alt="..." class="img-fluid"></div>
          <div class="info d-flex align-items-end justify-content-between">
            <div class="content"><a href="detail.html">
                <div class="badge-transparent">Eat &amp; Drink</div>
              </a><a href="detail.html">
                <h3>Lorem Ipsum Dolor</h3>
                <p class="address">23 July street, Vinece</p>
              </a></div>
            <div class="favorite"><i class="icon-heart"> </i></div>
          </div>
        </div>
        <div class="rate-box d-flex align-items-center">
          <ul class="rate list-inline">
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
          </ul><span>(20 Reviews)</span>
        </div>
      </div>
      <!-- Item            -->
      <div class="item listing-item">
        <div class="item-inner">
          <div class="image"><img src="img/photo-latest-2.jpg" alt="..." class="img-fluid"></div>
          <div class="info d-flex align-items-end justify-content-between">
            <div class="content"><a href="detail.html">
                <div class="badge-transparent">Events</div>
              </a><a href="detail.html">
                <h3>Lorem Ipsum Dolor</h3>
                <p class="address">23 July street, Vinece</p>
              </a></div>
            <div class="favorite"><i class="icon-heart"> </i></div>
          </div>
        </div>
        <div class="rate-box d-flex align-items-center">
          <ul class="rate list-inline">
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star text-gray"></i></li>
            <li class="list-inline-item"><i class="fa fa-star text-gray"></i></li>
          </ul><span>(335 Reviews)</span>
        </div>
      </div>
      <!-- Item        -->
      <div class="item listing-item">
        <div class="item-inner">
          <div class="image"><img src="img/photo-latest-3.jpg" alt="..." class="img-fluid"></div>
          <div class="info d-flex align-items-end justify-content-between">
            <div class="content"><a href="detail.html">
                <div class="badge-transparent">Eat &amp; Drink</div>
              </a><a href="detail.html">
                <h3>Lorem Ipsum Dolor</h3>
                <p class="address">23 July street, Vinece</p>
              </a></div>
            <div class="favorite"><i class="icon-heart"> </i></div>
          </div>
        </div>
        <div class="rate-box d-flex align-items-center">
          <ul class="rate list-inline">
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star text-gray"></i></li>
          </ul><span>(75 Reviews)</span>
        </div>
      </div>
      <!-- Item        -->
      <div class="item listing-item">
        <div class="item-inner">
          <div class="image"><img src="img/photo-latest-1.jpg" alt="..." class="img-fluid"></div>
          <div class="info d-flex align-items-end justify-content-between">
            <div class="content"><a href="detail.html">
                <div class="badge-transparent">Eat &amp; Drink</div>
              </a><a href="detail.html">
                <h3>Lorem Ipsum Dolor</h3>
                <p class="address">23 July street, Vinece</p>
              </a></div>
            <div class="favorite"><i class="icon-heart"> </i></div>
          </div>
        </div>
        <div class="rate-box d-flex align-items-center">
          <ul class="rate list-inline">
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
          </ul><span>(20 Reviews)</span>
        </div>
      </div>
      <!-- Item        -->
      <div class="item listing-item">
        <div class="item-inner">
          <div class="image"><img src="img/photo-latest-2.jpg" alt="..." class="img-fluid"></div>
          <div class="info d-flex align-items-end justify-content-between">
            <div class="content"><a href="detail.html">
                <div class="badge-transparent">Events</div>
              </a><a href="detail.html">
                <h3>Lorem Ipsum Dolor</h3>
                <p class="address">23 July street, Vinece</p>
              </a></div>
            <div class="favorite"><i class="icon-heart"> </i></div>
          </div>
        </div>
        <div class="rate-box d-flex align-items-center">
          <ul class="rate list-inline">
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star text-gray"></i></li>
            <li class="list-inline-item"><i class="fa fa-star text-gray"></i></li>
          </ul><span>(335 Reviews)</span>
        </div>
      </div>
      <!-- Item        -->
      <div class="item listing-item">
        <div class="item-inner">
          <div class="image"><img src="img/photo-latest-3.jpg" alt="..." class="img-fluid"></div>
          <div class="info d-flex align-items-end justify-content-between">
            <div class="content"><a href="detail.html">
                <div class="badge-transparent">Eat &amp; Drink</div>
              </a><a href="detail.html">
                <h3>Lorem Ipsum Dolor</h3>
                <p class="address">23 July street, Vinece</p>
              </a></div>
            <div class="favorite"><i class="icon-heart"> </i></div>
          </div>
        </div>
        <div class="rate-box d-flex align-items-center">
          <ul class="rate list-inline">
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star text-gray"></i></li>
          </ul><span>(75 Reviews)</span>
        </div>
      </div>
    </div>
  </div>
</section>