<section class="partners bg-gray">
  <div class="container text-center">
    <header>
      <h2>We get advice from</h2>
    </header>
    <div class="row d-flex justify-content-center align-items-center">
      <div class="item col-lg-2 col-md-4 col-6">
        <img src="img/partner-coc.png" alt="Chamber of Commerce Manchester" class="img-fluid"></div>
      <div class="item col-lg-2 col-md-4 col-6"><img src="img/partner-fsb.png" alt="Federation of Small Businesses"
          class="img-fluid"></div>
      {{!-- <div class="item col-lg-2 col-md-4 col-6"><img src="img/partner-rda.png" alt="Rochdale Development Agency"
          class="img-fluid"></div>
      <div class="item col-lg-2 col-md-4 col-6"><img src="img/partner-rbc.png" alt="Rochdale Borough Council" class="img-fluid"></div>
      --}}
      <div class="item col-lg-2 col-md-4 col-6"><img src="img/partner-zinc.png" alt="Zinc.vc" class="img-fluid"></div>
    </div>
  </div>
</section>