<section class="partners bg-gray">
  <div class="container text-center">
    <header>
      <h2>We collaborate with</h2>
    </header>
    <div class="row d-flex align-items-center">
      <div class="item col-lg-2 col-md-4 col-6"><img src="img/brand-1.png" alt="..." class="img-fluid"></div>
      <div class="item col-lg-2 col-md-4 col-6"><img src="img/brand-2.png" alt="..." class="img-fluid"></div>
      <div class="item col-lg-2 col-md-4 col-6"><img src="img/brand-3.png" alt="..." class="img-fluid"></div>
      <div class="item col-lg-2 col-md-4 col-6"><img src="img/brand-4.png" alt="..." class="img-fluid"></div>
      <div class="item col-lg-2 col-md-4 col-6"><img src="img/brand-5.png" alt="..." class="img-fluid"></div>
      <div class="item col-lg-2 col-md-4 col-6"><img src="img/brand-6.png" alt="..." class="img-fluid"></div>
    </div>
  </div>
</section>