<section style="background: url('img/separator-bg.jpg') fixed;" class="divider">
  <div class="container">
    <h2 class="has-lines"><small class="text-primary">Sharing is Caring </small> Promote Your Business</h2>
    <p class="lead">Let everyone know what your business has to offer to uplift your community.</p><a href="#" class="btn btn-primary has-shadow has-wide-padding">Add
      Your Listing</a>
  </div>
</section>