<section style="background: url('img/separator-bg.jpg') fixed;" class="divider">
  <div class="container">
    <h2 class="has-lines"><small class="text-primary">Unlimited Deals </small> Promote Your Business</h2>
    <p class="lead">Explore some of the best tips from around the world from our partners</p><a href="#" class="btn btn-primary has-shadow has-wide-padding">Add
      Your Listing</a>
  </div>
</section>