<section class="services">
  <div class="container text-center">
    <header>
      <h2>We support the <span class="text-primary">micro</span> economy</h2>
      <p class="lead col-md-10 mx-auto">Shopping with and investing in local businesses means you can have a very
        strong and positive effect on the health of the local jobs in your area. The fantastic thing about independent
        businesses is that they are run by people, and they have a natural authenticity which will always be more
        popular
        than a chain, no matter where in the country.</p>
    </header>
    <div class="row">
      <!-- Item-->
      <div class="item col-lg-4">
        <div class="icon"><i class="icon-map"></i></div>
        <div class="text">
          <h3 class="h4">Amazing Local Places</h3>
          <p class="text-muted">Locally owned businesses build strong communities by sustaining vibrant town centers.</p>
        </div>
      </div>
      <!-- Item-->
      <div class="item col-lg-4">
        <div class="icon"><i class="icon-shop"></i></div>
        <div class="text">
          <h3 class="h4">Tons of Shops</h3>
          <p class="text-muted">You get a different kind of care and quality because for local businesses, their work
            is a
            reflection of themselves.</p>
        </div>
      </div>
      <!-- Item-->
      <div class="item col-lg-4">
        <div class="icon"><i class="icon-script"></i></div>
        <div class="text">
          <h3 class="h4">Amazing Stories</h3>
          <p class="text-muted">Independent business bring originality and variety in a world that’s becoming
            increasingly homogenized.</p>
        </div>
      </div>
    </div>
  </div>
</section>