<section class="services">
  <div class="container text-center">
    <header>
      <h2>What do <span class="text-primary">Places</span> provide</h2>
      <p class="lead col-md-10 mx-auto">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
        praesentium voluptatum deleniti atque corrupti quos dolores </p>
    </header>
    <div class="row">
      <!-- Item-->
      <div class="item col-lg-4">
        <div class="icon"><i class="icon-map"></i></div>
        <div class="text">
          <h3 class="h4">Amazing Local Places</h3>
          <p class="text-muted">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum.</p>
        </div>
      </div>
      <!-- Item-->
      <div class="item col-lg-4">
        <div class="icon"><i class="icon-shop"></i></div>
        <div class="text">
          <h3 class="h4">Tons of Cities</h3>
          <p class="text-muted">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum.</p>
        </div>
      </div>
      <!-- Item-->
      <div class="item col-lg-4">
        <div class="icon"><i class="icon-script"></i></div>
        <div class="text">
          <h3 class="h4">Amazing Stories</h3>
          <p class="text-muted">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum.</p>
        </div>
      </div>
    </div>
  </div>
</section>