<section class="top-listings">
  <div class="container">
    <header>
      <h2 class="has-lines"><small>Up And Coming</small> Our <span class="text-primary">top small</span> towns</h2>
      <p class="lead">Local independent businesses are at the heart of a vibrant local economy. See more of the
        nearby towns and villages with their own unique identity. Discover the best local, independent businesses in
        Greater Manchester.</p>
    </header>
    <div id="top-items" class="row d-flex align-items-stretch">
      <!-- Hero item-->
      <div id="first-row" class="col-lg-6">
        <div class="row"></div>
      </div>
    </div>
    <div id="second-row" class="row"></div>
</section>